# React
frontend/node_modules/
frontend/dist/

# ASP.NET
backend/PropertyAgency.API/bin/
backend/PropertyAgency.API/obj/

# Visual Studio
.vs/

# VS Code
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db